# Dependencies
node_modules/
dist/
web-build/

# Expo
.expo/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
*.pem

# Environment Variables (Keep Firebase API keys secret)
.env
.env*.local
functions/.env

# Firebase-specific
firebase-debug.log
.firebase/
.runtimeconfig.json

# Functions dependencies
functions/node_modules

# React Native
.expo/
dist/
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bundle files
*.bundle
*.jsbundle